.row{
    text-align: center;
    padding: 40px;
}
.bday-age, .gen-em-mob, .address{
    padding: 40px;
    text-align: left;
}
.btn-edit{
    padding: 40px;
}
.update-profile{
    background-color: white;
    width: 800px;
    height: 100%;
    display: none;
    margin-top: 5%;
    margin-left: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.update-profile .form-icon{
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    
    margin: auto;
   
    line-height: 100px;
}
.profile{
    background-color: white;
    width: 800px;
    height: 100%;
    margin-top: 1%;
    margin-left: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);

}
.profile .form-icon{
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 100px;
}
@media (max-width: 1250px) {
    .profile{
        width: 100%;
        
        margin: auto;
        padding: 50px 20px;
    }
    .profile .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}