
        body {
            margin: 0;
            padding: 0;

            font-family: Arial, Helvetica, sans-serif;
        }
        .profile-img{
            border-radius: 50%;
            margin-left: 12%;
            top: 0%;
            padding: 10px; 
            width: 150px;
            height: 150px;
        }
   
        .side-nav {
            display: flex;
            top: 0;
            position: fixed;
            flex-direction: column;
            background-color: #191b1f;
            height: 100vh;
            width: 230px;
            z-index: 99;
            padding-top: 5vh;
           overflow: auto;
           
        }
        
       



        #close{
            position: relative;
            color: white;
            top: -3%;
            left: 81%;
            display: none;
        }
        #close:hover, #ham:hover{
            color: gray;
            cursor: pointer;

        }
        #ham{
          
            top: 5%;
            left: 3%;
            width: 40px;
            color: white;
            background-color: #191b1f;
            border-radius: 25px;
            padding: 8px;
            display: none;
        }
        
        .menu {
            margin-left: 15px;
        }
        
      .side-nav  ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        
      .side-nav  a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            padding: 0 20px;
            border-bottom: 1px solid rgb(97, 94, 94);
        }
        
     .side-nav   a:hover {
            background-color: rgb(19, 18, 18);
            color: rgb(148, 145, 145);
        }
        
     .side-nav   li {
            list-style-type: none;
            display: flex;
            align-items: center;
            margin: 15px auto;
        }
        
        .material-icons-outlined {
            font-size: 30px;
        }
        
     .side-nav   header {
            font-size: 30px;
            margin: 0;
            padding: 10px;
            border-bottom: 1px solid rgb(97, 94, 94);
            text-align: center;
            color: white;
            user-select: none;
        }
        @media screen and (max-width:1250px) {
            #close{
                display:block;
            }
             .side-nav{
                display: none;
                z-index: 99;
            }
            #ham{
                display: block;
            }
        }
        

    